*{margin: 0; padding: 0;}
.wrapper{
    width: 100%;
    height: 40px;
    background-color: rgb(68, 68, 68);
}

.bigbox{
    width: 100%;
    height: 40px;
    background-color: rgb(68, 68, 68);
    min-width: 1260px;
}

.item{
    float: left;
    line-height: 40px;
    color: rgb(179, 179, 179);
    font-size: 12px;
}

.left{
    margin-left: 20px;
    /* float: left; */
}

.line{
    width: 1px;
    height: 10px;
    background-color: rgba(182, 182, 182, 0.164);
    margin: 15px 7px 0;
    float: left;
}

.right{
    float: right;
}

.item2,.shopping{
    float: left;
    line-height: 40px;
    color: rgb(179, 179, 179);
    font-size: 12px;
}

.shopping{
    height: 100%;
    padding-left: 10px;
    background-color: rgb(80, 80, 80);
    margin-left: 12px;
    margin-right: 12px;
    transition: all 0.3s;
}
.shopping:hover{
    background-color: rgb(255, 106, 0);
    color: #fff;
    transition: all 0.3s;
}

.icon-gouwuche{
    float: left;
    font-size: 20px !important;
}

.nav,.logo,.product,.search,.a,.icon-sousuo,.search-btn{
    float: left;
}
  
.icon-icon-xiaomiguishu{
    color: rgb(255, 106, 0);
    font-size: 60px !important;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 50px;
}

.nav{
    width: 100%;
    min-width: 1260px;
    height: 100px;
    background-color: #fff;
    float: left;
}

.product li{
    list-style: none;
    float: left;
    line-height: 100px;
    padding-left: 20px;
    /* background-color: #bfa; */
}

.product{
    margin-left: 110px;
}

.search{
    margin-top: 25px;
    width: 301px;
    height: 50px;
    /* background-color: rgb(194, 16, 16); */
    margin-left: 50px;
}

.a{
    width: 236px;
    height: 50px;
    border: rgb(182, 182, 182) 1px solid;
    border-right: none;
    padding-left: 10px;
    outline: none;
    
}

.search-btn{
    width: 52px;
    height: 52px;
    background-color: #fff;
    border: rgb(182, 182, 182) 1px solid;
    transition-property: all;
    transition-duration: 0.3s;
}

.s2{
    margin-left: 12px;
    font-size: 27px !important;
    color: rgb(80, 80, 80);
    transition-property: all;
    transition-duration: 0.3s;
}

.search-btn:hover{
    background-color: rgb(255, 106, 0);
    border-color: rgb(255, 106, 0);
}

.search-btn:hover .s2{
    color: #fff;
}


.a:hover,
.a:hover + button{
    border: rgb(114, 114, 114) 1px solid;
    /* border-right: none; */
}

.a:hover{
    border-right: none;
}

.a:focus,
.a:focus+button{
    border-color:rgb(255, 106, 0);
}

.item-left{
    padding-left: 30px;
    width: 210px;
    height: 44px;
    color: #fff;
    line-height: 43px;
}

.left-nav{
    width: 1240px;
    height: 465px;
    /* background-color: rgb(126, 66, 66); */
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    /* background-image: url("a.jpg"); */
    background-size:contain;
    position: relative;
}

.item-left-box{
    width: 240px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(20px);
    float: left;
    padding-top: 15px;
    position: absolute;
}

.item-left:hover{
    background-color: rgb(255, 106, 0);
}

body{
    height: 1200px;
}

.img{
    position:absolute;
    z-index: -1;
}

#img1{
    width: 1240px;
    position: absolute;
}

.point{
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.466);
    /* position: absolute; */
    margin-left: 15px;
    z-index: 100;
    border-radius: 10px;
    float: left;
    border-style: none;
}

.point-box{
    position: absolute;
    margin-top: 430px;
    margin-left: 300px;
}

#p1{
    background-color: rgba(255, 255, 255, 0.575);
}

a{
    text-decoration: none;
    color: rgb(63, 63, 63);
}

li a:hover{
    color: rgb(255, 106, 0);
}

.detail{
    width: 100%;
    height: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    margin-top: 100px;
    margin-left: 0px;
    padding-left: 0px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.212);
    left: 0;
    border-top: 1px solid rgb(224,224, 224);
    overflow: hidden;
    /* 盒子内的图片水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.main,.wrapper{
    width: 1260px;
    margin: 0 auto;
}

li:hover ~ .detail,
.detail:hover{
    height: 210px;
    transition: height 0.3s 0.3s;
}

.phone-img{
    /* 盒子内的图片水平居中 */
    display: block;
    margin: auto;
    width: 1260px;
}

.li-left{
    color: rgba(255, 255, 255, 0.753);
    line-height: 43px;
    font-size: 14px;
    /* background-color: #bfa; */
    width: 100%;
    display: block;
}

.show{
    /* width: 1000px; */
    width: 0;
    height: 464px;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.212); */
    z-index: 90;
    margin-left: 240px;
    margin-top: 1px;
    backdrop-filter: blur(70px);
    transition: all 0.3s;
    overflow: hidden;
    text-align: center;
    line-height: 464px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bolder;
    font-family: "Microsoft YaHei";
}

.item-left-box:hover ~ .show,
.show:hover{
    width: 1000px;
    transition: all 0.3s 0.3s;
}

.bar2{
    width: 1240px;
    height: 159.666px;
    /* background-color: #bfa; */
    float: left;
    /* position: absolute; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.bar2-1{
    height: 100%;
    width: 240px;
    background-color: rgb(95, 87, 80);
    float: left;
}

.bzfw,.fmtd,.qytg,.mfk,.yjhx,.hfcz{
    width: 79.333px;
    height: 79.333px;
    float: left;
    color: rgba(255, 255, 255, 0.753);
    font-size: 12px;
    text-align: center;
    line-height: 32.5px;
    border-bottom: rgba(255, 255, 255,0.1) 1px solid;
}

.icon-icon_shizhong-,.icon-loufang,.icon-F_round,.icon-huishuaizhuanhuan,.icon-sim,.icon-wuchongzhizhuangtai{
    font-size: 22px !important;
    line-height: 20px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.633);
}

.qytg,.yjhx{
    border-left: solid 1px rgba(255, 255, 255,0.1);
    border-right: solid 1px rgba(255, 255, 255,0.1);
}

.icon-huishuaizhuanhuan{
    font-size: 34px !important;
}

.a1{
    height: 159.666px;
    width: 298.1132px;
}

.bar2-2{
    height: 100%;
    width: 296px;
    float: left;
    margin-left: 36.6px;
}

.bar2-3{
    height: 100%;
    width: 296px;
    float: left;
    margin-left: 36.6px;
}

.bar2-4{
    height: 100%;
    width: 296px;
    float: left;
    margin-left: 36.6px;
}

.small{
    color: rgba(255, 255, 255, 0.633);
}

/* .bzfw:hover,.qytg:hover,.fmtd:hover,.mfk:hover.yjhx:hover,.hfzc:hover{
    color: rgb(255, 255, 255);
} */

.small:hover .iconfont,
.small:hover{
    color: rgb(255, 255, 255);
}

.note9{
    width: 1240px;
    height: 145px;
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}

.note9img{
    margin: 0 auto;
    width: 1240px;
}

#top{
    color: rgb(179, 179, 179);
}
#top:hover{
    color: rgb(224, 224, 224);
}

.code{
    width: 100px;
}
.qrcode{
    height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    margin-left: -22px;
    margin-top: -9px;
    transition: all 0.3s;
}
.app:hover ~ .qrcode,
.qrcode:hover{
    height: 130px;
    width: 101px;
    transition: all 0.3s;
}

.app{
    /* background-color: #bfa; */
    height: 100%;
    display: block;
}

.bottom{
    margin-top: 100px;
    float: left;
}

.img-bottom{
    width: 1260px;
}